<!-- The HTML -->
<!--
<a href="#" class="unslider-arrow prev">Previous slide</a>
<a href="#" class="unslider-arrow next">Next slide</a>
-->
<div class="main portfolio">
	<div class="jumbotron slideshow">
    <div class="banner slideshow-container">
        <ul>
            <li style="background-image: url('https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/top.jpg')"></li>
            <li style="background-image: url('https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/sl_sunset.jpg')"></li>
            <li style="background-image: url('https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/sl_subway.jpg')"></li>
            <li style="background-image: url('https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/sl_wood.jpg')"></li>
          <li style="background-image: url('https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/sl_shop.jpg')"></li>
        </ul>
    </div>
  </div>
  
  
  <div class="container">
      <div class="row">
        <a class="col-md-6 project" href="#">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn">
            </div>
            <div class="thumbnail-header-btn">
            </div>
            <div class="thumbnail-header-btn">
            </div>
          </div>
          <div class="thumbnail">
            <img alt="Project01" src="https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/p1.jpg" />
          </div>
          <h3>TravelGo’s Booking App</h3>
          <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p> </a>
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail">
              <img alt="Project02" src="https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/p2.jpg" />
            </div>
            <h3>Breather’s Reservation Site</h3> <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p>
          </a>
        </div>
        <div class="row">
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail">
              <img alt="Project03" src="https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/p3.jpg" />
            </div>
            <h3>EnVogue Events’ Portfolio</h3>
            <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p>
          </a>
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail">
              <img alt="Project04" src="https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/p4.jpg" />
            </div>
            <h3>Gauntlet Gallery</h3>
            <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p>
          </a>
        </div>
        <div class="row">
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div> <div class="thumbnail">
              <img alt="Project05" src="https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/p5.jpg" />
            </div>
            <h3>Koi Pond Online Visitors Guide</h3>
            <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p>
          </a>
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail">
              <img alt="Project06" src="https://dl.dropboxusercontent.com/u/26654077/demo_portfolio/p6.jpg" />
            </div>
            <h3>Academy of Sciences  Newsletter</h3>
            <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p>
          </a>
        </div>
      </div>
</div>

<script>
   var unslider = $('.banner').unslider({
   	speed: 500,               //  The speed to animate each slide (in milliseconds)
    delay: 3000,              //  The delay between slide animations (in milliseconds)
    complete: function() {},  //  A function that gets called after every slide animation
    keys: true,               //  Enable keyboard (left, right) arrow shortcuts
    dots: true,               //  Display dot navigation
    fluid: false              //  Support responsive design. May break non-responsive designs
   });
    
    $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        
        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        unslider.data('unslider')[fn]();
    });
</script>